@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.message-container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  border: 1px solid black;
  height: 200px;
  overflow-y: auto;
}
.message {
  margin-bottom: 5px;
}
.input-container {
  width: 400px;
  display: flex;
  height: 30px;
}
.input-container input {
flex: auto;
  font-size:15px;
  font-family: 'Pixelify Sans', sans-serif;
}
.chat-container {
  position: absolute;
  bottom: 160px;
  left: 10px;
  z-index: 1;
  font-size:15px;
  font-family: 'Pixelify Sans', sans-serif;
}
.btn {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 15px;
}